<div class="row">
  <div class="col-xs-3">
    <%= render partial: 'sidebar' %>
  </div>
  <div class="col-xs-9">
    <h1>Transactions</h1>


    <div class="row">
      <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
      <div class="col-xs-6">
        <%= pie_chart @budget.debit_chart_data, height: '150px', library: { title: "Outgoing" } %>
      </div>
      <div class="col-xs-6">
        <%= pie_chart @budget.credit_chart_data, height: '150px', library: { title: "Incoming" } %>
      </div>
    </div>


    <table class="table">
      <thead>
      <tr>
        <th>Payee</th>
        <th>Incoming</th>
        <th>Outgoing</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% last_category = nil %>
      <% @transactions.each do |transaction| %>
          <% if last_category != transaction.category %>
              <tr>
                <th colspan="4"><%= transaction.category.title %></th>
              </tr>
            <% last_category = transaction.category %>
          <% end %>
          <tr>
            <td><%= transaction.payee %></td>
            <% if transaction.txn_type == 'Debit' %>
                <td></td>
            <% end %>
            <td>
          <span class="has-tooltip" data-toggle="tooltip" title="<%= number_to_currency transaction.amount %> <%= transaction.occurs %>">
          <%= number_to_currency transaction.monthly_amount %>
            </td>
            <% if transaction.txn_type == 'Credit' %>
                <td></td>
            <% end %>
            </span>
            <td>
              <%= link_to 'Detail', budget_transaction_path(id: transaction), class: 'btn btn-info btn-xs' %>
              <%= link_to 'Edit', edit_budget_transaction_path(id: transaction), class: 'btn btn-default btn-xs' %>
              <%= link_to 'Delete', budget_transaction_path(id: transaction), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
            </td>
          </tr>
      <% end %>
      </tbody>

      <tfoot>
      <tr>
        <th>Total</th>
        <th><%= number_to_currency(@budget.credit_total) %></th>
        <th><%= number_to_currency(@budget.debit_total) %></th>
        <th></th>
      </tr>
      </tfoot>
    </table>

    <br>

    <%= link_to new_budget_transaction_path, class: 'btn btn-success' do %>
        <i class="glyphicon glyphicon-plus"></i> New Transaction
    <% end %>

  </div>
</div>