<div class="row">
  <div class="col-xs-3">
    <%= render partial: 'sidebar' %>
  </div>
  <div class="col-xs-9">
    <h1><%= @transaction.payee %></h1>

    <p>
      <strong>Amount:</strong>
      <%= @transaction.amount %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @transaction.txn_type %>
    </p>

    <p>
      <strong>Occurs:</strong>
      <%= @transaction.occurs %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @transaction.category.title %>
    </p>

    <% if @transaction.notes? %>
        <p>
          <strong>Notes:</strong>
          <%= @transaction.notes %>
        </p>
    <% end %>

    <%= link_to 'Edit', edit_budget_transaction_path %> |
    <%= link_to 'Back', budget_transactions_path %>

  </div>
</div>

