<!DOCTYPE html>
<html>
<head>
  <title>Piccolo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navigation' %>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end -%>
    </div>
  </div>
  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-muted" style="text-align: center; padding-top: 5px">---</p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
